<?xml version="1.0"?>
<launch>
  <!--robot tf frames-->
  <arg name="sim" default="false"/>
  <param name="use_sim_time" value="false" />

  <node pkg="image_transport" type="republish" name="decompress" args="compressed in:=/camera/color/image_raw raw out:=/camera/color/image_raw" if="$(arg sim)"/>

  <include file="$(find mono_tracking)/launch/robot_frames.launch" />
  <!-- mono detection-->
  <include file="$(find mono_tracking)/launch/mono_detect.launch" />

  <!-- mono tracking-->
  <include file="$(find mono_tracking)/launch/mono_tracking.launch" />
  
</launch>
