<?xml version="1.0"?>
<launch>
<param name="use_sim_time" value="true" />
<arg name="sim" default="true"/>
<node pkg="image_transport" type="republish" name="decompress" args="compressed in:=/camera/color/image_raw raw out:=/camera/color/image_raw" if="$(arg sim)"/>
<node pkg="mono_following" type="save_images.py" name="mono_saveImages" output="screen" cwd='node'/>

</launch>